<tr>
    <td colspan="3">
    <table dojoAttachPoint="participantTable"
    style="position: relative; left: 75px">
    <tbody dojoAttachPoint="tableBody">
    <tr>
        <td>
            <label>{{participantUserText}}</label>
        </td>
        <td>
            <label>{{participantActionText}}</label>
        </td>
    </tr>
    <tr>
        <td>
            <input dojoAttachPoint="externalParticipantsInput"/>
        </td>
        <td>
            <div dojoAttachPoint="participantAddButton">
            </div>
        </td>
    </tr>
    </tbody>
    </table>
    </td>
</tr>
